version: 2.1
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run: |
          docker build -t dpos-kmv/ci-notify:latest .
          echo $DOCKERHUB_AUTH | docker login -u $DOCKER_USER --password-stdin
          docker push dpos-kmv/ci-notify:latest
